.header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:20px;
    position: sticky;
    top:0;
    z-index: 100;
    background-color: white;
}

.header__avatar{
    width:30px !important;
    height:30px !important;
}

.header__logo {
    height:25px;
    object-fit: contain;
    margin-left: 20px;
}

.header__input {
    display: flex;
    align-items: center;
    width:40%;
    border: 1px Solid lightgray;
}

.header__icons {
    display: flex;
    align-items: center;
}

.header__input > input {
    flex:1;
    border: none;
    margin-left: 5px;
}

.header__inputButton{
    border: 1px Solid lightgray;
    color: gray;
    background-color: #fafafa;
    width: 50px !important;
}


.header__icon{
    margin-right: 8px;
    color:gray;
}